/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2018, 2:56:25 PM
    Author     : raghda
*/
.comments-area{
    text-align: left;
}
.comment{
   list-style: none;
}
.comments-area .comments-title{
   background: none;
    margin-bottom:2rem;
    padding:0;
}
.comments-area ol.comment-list li.depth-1{
    background: #fff;
    @include box-shadow($box-shadow-sm); 
}
.comment-meta.commentmetadata .dt{
    font-size: 0.8rem;
}
.comment-author.vcard img{
    border-radius: 50%;
}
.comment_text{
    margin-top: 1rem;
    margin-left: 4rem;
}
.comment-reply-link{
    @extend .btn;
    @extend .btn-light;
}

.comment-respond{
    /*background: $gray-100;*/
    @include box-shadow($box-shadow-sm); 
}
.comments-area .comment-respond .form-submit .submit:hover{}
.comments-area .comment-respond .form-submit .submit{
    @include button-variant(#000, #000,lighten(#000, 10%), lighten(#000, 10%),lighten(#000, 12.5%),  lighten(#000, 12.5%));
    @extend .btn-oval;
}