/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2018, 3:47:44 PM
    Author     : raghda
*/

.entry-content .alignfull{
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw ;
} 
.entry-content .alignwide {
    width:100%;
    max-width: 100%;
}
/*@media (max-width: 1200px) {
    .entry-content .alignwide {
        margin-left  : -15px;
        margin-right : -15px;
        max-width    : calc(100% + 30px);
    }
}*/
.wp-block-cover.alignfull, .wp-block-cover-image.alignfull{
    width: auto ;

}
.wp-block-cover, .wp-block-cover-image{
    min-height: 250px;
}
.wp-block-columns{
    @include make-row();
}
.wp-block-column{
    @include make-col-ready();

    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    /*    position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;*/

}
@media (min-width: 600px){
    .wp-block-column:not(:last-child),
    .wp-block-column:not(:first-child),
    .wp-block-column:nth-child(even),
    .wp-block-column:nth-child(odd){
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }
}
.wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text, .wp-block-cover h2, .wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2{
    font-size: initial;    
}
/*========================================
image
=========================================*/
.is-style-shadow img{
    box-shadow: $box-shadow;
}
.is-style-shadow-sm img{
    box-shadow:$box-shadow-sm;
}
.is-style-shadow-lg img{
    box-shadow:$box-shadow-lg;
}
.is-style-shadow-custom img{
    box-shadow: $custom-shadow;
}
.is-style-rounded img{
    @include border-radius;
}
.is-style-rounded-shadow img{
    box-shadow:$box-shadow;
    @include border-radius;
}
.is-style-rounded-shadow-sm img{
    box-shadow:$box-shadow-sm;
    @include border-radius;
}
.is-style-rounded-shadow-lg img{
    box-shadow:$box-shadow-lg;
    @include border-radius;
}
.is-style-rounded-shadow-custom img{
    box-shadow: $custom-shadow;
    @include border-radius;
}

/*========================================
cover
=========================================*/
.wp-block-cover.is-style-shadow {
    box-shadow:$box-shadow;
}
.wp-block-cover.is-style-shadow-sm {
    box-shadow:$box-shadow-sm;
}
.wp-block-cover.is-style-shadow-lg {
    box-shadow:$box-shadow-lg;
}
.wp-block-cover.is-style-shadow-custom{
    box-shadow: $custom-shadow;
}
.wp-block-cover.is-style-shadow-hover{
    transition: box-shadow 0.2s;
    &:hover{
        box-shadow: $custom-shadow;
    }
}
.wp-block-cover.is-style-rounded {
    @include border-radius;
}
.wp-block-cover.is-style-rounded-shadow{
    box-shadow:$box-shadow;
    @include border-radius;
}
.wp-block-cover.is-style-rounded-shadow-sm {
    box-shadow:$box-shadow-sm;
    @include border-radius;
}
.wp-block-cover.is-style-rounded-shadow-lg {
    box-shadow:$box-shadow-lg;
    @include border-radius;
}
.wp-block-cover.is-style-rounded-shadow-custom {
    box-shadow: $custom-shadow;
    @include border-radius;
}
.wp-block-cover.is-style-rounded-shadow-hover{
    @include border-radius;
    transition: box-shadow 0.2s;
    &:hover{
        box-shadow: $custom-shadow;
    }
}
/*========================================
video
=========================================*/
.is-style-shadow video{
    box-shadow:$box-shadow;
}
.is-style-shadow-sm video{
    box-shadow:$box-shadow-sm;
}
.is-style-shadow-lg video{
    box-shadow:$box-shadow-lg;
}
.is-style-shadow-custom video{
    box-shadow: $custom-shadow;
}
.is-style-rounded video{
    @include border-radius;
}
.is-style-rounded-shadow video{
    box-shadow:$box-shadow;
    @include border-radius;
}
.is-style-rounded-shadow-sm video{
    box-shadow:$box-shadow-sm;
    @include border-radius;
}
.is-style-rounded-shadow-lg video{
    box-shadow:$box-shadow-lg;
    @include border-radius;
}
.is-style-rounded-shadow-custom video{
    box-shadow: $custom-shadow;
    @include border-radius;
}

/*==========================================
gallery
============================================*/
.is-style-default-rounded-img .blocks-gallery-item,
.is-style-lightbox-rounded-img .blocks-gallery-item{
    @include border-radius;
    overflow: hidden;
}
.is-style-lightbox-rounded-shadow-img .blocks-gallery-item,
.is-style-default-rounded-shadow-img .blocks-gallery-item{
    @include border-radius;
    overflow: hidden;
    box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}
.is-style-lightbox-shadow-img .blocks-gallery-item,
.is-style-default-shadow-img .blocks-gallery-item{
    overflow: hidden;
    box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}
/*==========================================
Button
============================================*/
.wp-block-button.is-style-outline a:active,
.wp-block-button.is-style-outline a:focus,
.wp-block-button.is-style-outline a:hover{
    border-style: dotted;
    /*box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);*/
    /*animation: pulse 0.7s;*/
    /*box-shadow: 0 0 0 0.5m rgba(255, 255, 255, 0);*/
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(161,161,161,0.61);
    }
}
.wp-block-button.is-style-default a:active,
.wp-block-button.is-style-default a:focus,
.wp-block-button.is-style-default a:hover,
.wp-block-button.is-style-squared a:active,
.wp-block-button.is-style-squared a:focus,
.wp-block-button.is-style-squared a:hover{
    /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0px 15px 10px -10px rgba(161,161,161,0.61);
}

/*==========================================
table
============================================*/
.wp-block-table.is-style-vertical-stripes {
    border: 2px solid #FFFFFF;

}
.wp-block-table.is-style-vertical-stripes td, .wp-block-table.is-style-vertical-stripes th {
    border: 1px solid #FFFFFF;
    padding: 0 5px;
}
.wp-block-table.is-style-vertical-stripes td:nth-child(even){
    background: $gray-100;
}

.wp-block-table.is-style-vertical-stripes tr:nth-child(even) {
    /*background: $gray-100;*/
}
.wp-block-table.is-style-vertical-stripes thead {
    background: $gray-100;
    border-bottom: 1px solid $gray-500;
}
.wp-block-table.is-style-vertical-stripes thead th {
    font-weight: bold;
    color: $gray-700;
    text-align: center;
}
.wp-block-table.is-style-vertical-stripes tfoot {

    font-weight: bold;
    color: $gray-700;
    border-top: 2px solid $gray-500;
}
.wp-block-table.is-style-vertical-stripes tfoot td {
    font-size: 14px;
}
.wp-block-table.is-style-stripes{
    td,th{
        padding: 0 5px;
    }
}
.wp-block-table.is-style-regular{
    td,th{
        border: 1px solid $gray-800;
        padding: 0 5px;
    }
}

wp-block-table.is-style-stripes {
    border-bottom: 1px solid $gray-100;
    border-collapse: inherit;
    border-spacing: 0;
}