/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2018, 5:29:54 PM
    Author     : raghda
*/
/*======================================
single post 
========================================*/
.alexandrie_blog.blog_single .post-image{
    overflow: hidden;
}
/*======================================
single post navigation
========================================*/
.nav-next,
.nav-previous{
    display: flex;
    align-items:center;
    /*@include box-shadow($box-shadow-sm);*/
    border-radius:  2.5rem;
    overflow: hidden;
    min-height: 80px;
    background: $gray-100;
}
.nav-next:hover,
.nav-previous:hover{
      box-shadow:$custom-shadow; 
}
.nav-next img,
.nav-previous img{
    float: left;
    vertical-align:middle;
}
.nav-next a,
.nav-previous a{
    display:inline-block;
}
/*======================================
Blog navigation
========================================*/
.posts-nav-previous a:hover,
.posts-nav-next a:hover{
     box-shadow:$custom-shadow; 
}
.posts-nav-next a{
    float: right;
}
//loop pagination
.pagination{
    margin-top: 40px;
}
.pagination a{
    padding: 5px 10px;
}
.pagination li{
    margin-left: 5px;
    margin-right: 5px
}
/*======================================
archive
========================================*/
.blog_and_archive{
    margin-bottom: 2rem;
    overflow: hidden;
}
.post-category,
.post-meta,
.post-title,
.post-content{
    padding-left: 1rem;
    padding-right: 1rem;
}

.entry-meta span:after{
    content: " ";
    margin-left: 5px;
    margin-right: 5px;
}
/*=============================================
contact form 7
================================================*/
.wpcf7-form label {
    width: 100%;
}

/*===============================================
read more btn
=================================================*/
.btn_full,.btn_left,.btn_right{
    display: block;
}
.btn-full{
    text-align: center;
}
.btn_full a{
    text-align: center;
    width:100%;
    display: block;
}
.btn_left a{
    float: left;
}
.btn_right a{
    float: right;
}