/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2018, 2:17:47 PM
    Author     : raghda
*/
.search_blog {
    /*box-shadow: $box-shadow-sm;*/
    /*padding: 1rem 2rem;*/
    /*margin-top: 2rem;*/
    overflow: hidden;
    height: auto;
}
/*.search_blog:nth-of-type(1), .blog_single:nth-of-type(1){padding-top: 0;}*/
/*.search_blog:last-of-type{border-bottom: 0; }*/
.search_blog .entry-title{margin: 0 0 15px 0;}
.search_blog .entry-meta{margin: 0 0 15px 0;}
.search_blog .entry-meta span::after{content: "/"; margin-left:5px; margin-right: 5px;}
.search_blog .entry-meta span:last-child::after{content: "";}
.search_blog .post-image{margin: 0 0 15px 0;}
.search_blog .entry-content{margin: 0 0 15px 0;}

.search_blog .entry-content .btn_left{display: block; margin-top: 25px; text-align: left;} 
.search_blog .entry-content .btn_right{display: block; margin-top: 25px; text-align: right;}
.search_blog .entry-content .btn_full{display: block; margin-top: 25px; text-align: center;}
.search_blog .entry-content .btn_left .read-more, .search_blog .entry-content .btn_right .read-more{padding: 10px 15px; display: inline-block;}
.search_blog .entry-content .btn_full .read-more{padding: 10px 15px; display: block;}
