/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2018, 4:52:56 PM
    Author     : raghda
*/
.sidebar-widget{
    margin-bottom: 50px;
}
.header-widget-area{
      @extend .justify-content-around;
      @extend .d-flex;
}
.widget-header{
    margin-bottom: 0;
}
.widget-header .form-inline-custom{
    width:100%;
    margin: 10px;
}
.widget.widget-header ul{
    display: inline-block;
}
.widget.widget-header ul li{
    display: inline-block;
    margin-left:5px; 
    margin-right:5px; 
    border-bottom: none;
    margin-top: 0;
}
.header-widget-area .widget{
    overflow: hidden;
}
.header-widget-area .wp-caption{
    margin-bottom: 0;
}
.widget_archive select,.widget select{
    @extend .form-control;
    padding:0 5px;
}
.tagcloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tagcloud a {
    display: inline-block;
    margin: 10px 15px 10px 6px;
    padding: 0 10px;
    background: $gray-100;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
}

.tagcloud a:hover,
.tagcloud a:focus {
    @include box-shadow($box-shadow);
    transform: scale(1.1);
}
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_categories ul,
.widget_archive ul,
.widget_pages ul{
    /*width: 60%;*/
    margin: auto;
    padding: 0;
    list-style: none;
    @extend .styled-ul;
    padding-left: 10px;
}
.widget_recent_entries ul li{
    padding:5px;
    a{
        text-transform: capitalize;
    }
    &:before{
        content: "\f1ea";
        font-family: "FontAwesome";
        margin-right: 5px;
    }
}
#secondary li:not(:last-child){
    border-bottom: 1px dashed $gray-200;
}
.widget_recent_comments .recentcomments{
    a{

        color: $primary;
    }
}
.rss-widget-icon{
    display: none;
}
/*.widget-header.widget_nav_menu{
    display: inline-block;
}
.widget-header.widget_nav_menu li{
    display: inline;
}*/
.widget_nav_menu .sub-menu,
.widget_pages .children,
.widget_categories .children,
.widget_archive .children{
    padding-left: 1rem;
    margin-left: 1rem;
}
.widget_nav_menu .sub-menu li,
.widget_pages .children li,
.widget_archive .children li,
.widget_categories .children li{
    list-style: square;
    margin: 5px 0;
    padding-bottom: 5px;
    border: none;
    list-style: none;
}

.widget_archive ul> li ,
.widget_categories  ul > li {
    margin: .5em 0;
    text-align: right; 
    overflow: hidden;
}
.widget_archive li a ,
.widget_categories li a {
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    display: inline-block;
    float: left;
    align-items: baseline;
    text-decoration: none;
    transition: color .2s ease-in-out;
    /*	&::before {
                    height: .1em;
                    flex: 1 1 auto;
                    order: 1;
                    background: left bottom / contain repeat-x url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3IDIiPjxjaXJjbGUgZmlsbD0iI2ZmZiIgY3g9IjMuNSIgY3k9IjEiIHI9IjEiLz48L3N2Zz4=);
                    content: '';
            }
            &::after {
                    order: 2;
                    content: 'p.' attr(data-page);
            }*/
    &:hover,
        &:focus {
        color: black;
    }
}

.widget_rss ul li{
    background: $gray-100;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background: $gray-100;
}
.widget_rss ul li .rssSummary{
    margin-top: 5px;
}
.widget_rss ul li .rsswidget{
    display: block;
    font-weight: bold;
}
.widget_rss ul li .rss-date{
    display: block;
    font-size:0.8rem;
    &:before{
        content: "\f133";
        font-family:"FontAwesome";
        margin-right: 5px;
    }
}
.widget_rss ul li cite{
    float: right;
}
.calendar_wrap  table {
    text-align: center;
}
.calendar_wrap  table thead{
    background: $gray-100;
}

.calendar_wrap table td{
    background: $gray-100;
    border: 2px solid #fff;
    padding: 5px;

}
.calendar_wrap table tbody td{
    background: none;
}
.calendar_wrap  caption{
    caption-side: top;
    font-weight: bold;


    padding: 0.4rem;
    /*text-align: center;*/
}

//text widget
//image with caption
.textwidget img{
    border: 1px solid $gray-100;
    padding: 5px;
}
.wp-caption .wp-caption-text{
    background: $gray-100;
    padding: 10px;
    margin-top: 0;
}
@include media-breakpoint-down(sm) {  
    .widget_nav_menu .menu{
        display: block;
    }
    .widget_nav_menu .sub-menu,
    .widget_pages .children,
    .widget_categories .children,
    .widget_archive .children{
        padding-left: 0;
        margin-left: 0;
    }
}

//audio 
.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body{
    border-radius: 25px;
}