/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2018, 3:06:44 PM
    Author     : raghda
*/
.wrapper-carousel{
    overflow: hidden;
    width:100%;
}
.owl-stage-outer{
    width:100%;
    /*max-width: 1000px;*/
    overflow-x: hidden;
}
.owl-carousel .owl-stage{
    display: flex;
}
.owl-nav{
    text-align: center;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    width: 2rem;
    height: 2rem;
    /*line-height: 2rem;*/
    border-radius: 2rem; 
    padding: 5px;
    outline: 0;
    font-size: 0.5rem;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
    background: $primary;
    color:#fff;
    outline: 0;
}