/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2018, 2:27:15 PM
    Author     : raghda
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-1;
    color: $primary;
}
p{
    color:$gray-600;
}
pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    width:100%;
    max-width: 100%;
}
body {
    font-family: $font-family-base;
}

::selection,
{
    background: $primary;
    color: #FFFFFF;
}
::-moz-selection,
{  /* Firefox */
    background: $primary;
    color: #FFFFFF;
}

.bg-primary{
    color:#fff;
    background: $primary;
}
.bg-custom{ 
    background: #fff;
    border: none;
}
.bg-gray-100{
    background: $gray-100;
}
.shadow-custom{
    box-shadow: $custom-shadow;
}
.shadow-double{
    box-shadow: 5px 5px $gray-100;
}

.styled-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.styled-ul li {
    border-bottom: $gray-300 dotted 1px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.styled-ul li:last-child{
    border-bottom: none;
}
.styled-ul li:after{
    content: " ";
    clear: both;
}
.styled-ul a{
    color: $gray-600;
}
.styled-ul-num{
    float: right;
    /*color: $gray-400;*/
}
.form-control{
    background: $gray-100;
    border-color: transparent;
    border-radius: 1.3rem ;
    padding: 10px 5px;
}
.form-control:focus{
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
    border-color: transparent;
}
.border-gray-100{
    border: 1px solid $gray-100;
    @include border-radius();
}
.btn:focus{
    box-shadow: none;
}
.btn-primary:hover{
    box-shadow: 0px 15px 10px -10px rgba(161,161,161,0.61);
    transform: translateY(-1px);
    transition: all ease 0.2s;
}
.btn-oval {
    border-radius: 1.5rem; // display: block;
    // border-radius: 0; // display: block;
}
.form-control-oval{
    border-radius: 1.5rem;
}

a.btn.btn-primary.btn-oval{
    color:#fff;
}
.grid{
    height: auto;
}
.btn-light{
    border-color:transparent;
}
.search-field{
    background: #fff;
    border-color: #fff;
}
.top-header .nav ul li {
    display: inline-block;
    list-style: none; 
    padding: 0;
    margin: 0 10px 0 0;
}