/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Aug 7, 2018, 3:54:07 PM
    Author     : raghda
*/
body,a,h1,h2,h3,h4,h5,h6,p{
    word-wrap: break-word;
    overflow-wrap: break-word; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; 
    hyphens: auto;
}
$enable-shadows:true;
.header{
    /*@include box-shadow($custom-shadow-2);*/
    /*padding-bottom: 2rem;*/
    /*margin-bottom: 3rem;*/
}
/*.header-content{
    border-bottom: 1px solid $gray-100;

}*/
.logo{
    font-family: $font-logo;
    font-size: 4.5rem;
    text-align:center;
    a:hover{
        text-decoration: none;
        color:$primary;
    }
}
.navbar-light .navbar-toggler{
    border: none;
}
.wrapper-navbar{
    /*box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);*/
    /*box-shadow:0 -0.125rem 0.5rem 0.27rem rgba(0,0,0,0.75);*/
}
.navbar-brand{ 
    font-family: $font-1;
    color: #000;
    line-height: 2;
}
.navbar-light .navbar-nav .nav-link{
    color: $gray-500;   
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    /*position:relative;*/
    /*    &:after{
            content: " ";
            width:1rem;
            height: 0.1rem;
            background: $primary;
            display: block;
            transform: translateX(-50%);
            margin-left: 50%;
        }*/
}

.menu-social-container li{
    
    margin-left: 5px;
    margin-right: 5px;
    &::first-of-type{
        margin-left: 0;
    }
}
.social-link{
    margin-left: 5px;
    color:$primary;
}
.social-link:hover{
    color:$gray-500;
}

.social-menu{
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.social-menu li, .navbar-social-menu li{
    display: inline-block;
    margin-right: 10px;
}
.navbar-social-menu{
    @extend .social-menu;
    font-size: 1rem;
    /*line-height: 5rem; //same as logo font size to be centered vertically with logo*/
}



.signature{
    font-family: $font-logo;
    display: block;
    font-size: 2rem;
}
.footer-social-menu li {
    list-style: none;
    display :inline-block;
}
.footer-social-menu li a{
    text-align: center;
    padding: 0.5rem 1rem;
}
.footer-menu li{
    @extend .nav-item;
}
.footer-menu li a{
    @extend .nav-link;
}
/*===============================*/
.wrapper-carousel{
    margin-bottom: 2rem;
}
.item{
    position:realtive;

}
.owl-carousel .owl-stage{
    padding-bottom: 30px;  //for shaodw to appear
}
.item img{ 
    box-shadow: $custom-shadow; 
    @include border-bottom-radius($border-radius);
    @include img-fluid();
}
.item-text{
    display: inline-block;
    position:absolute;
    bottom: 20px;
    left:20px;
    padding:2px 10px;
}
.item-text a{
    background: #fff;
    text-transform: capitalize;
    line-height: 1.4;
    padding: 0 0.4rem;
}
.item-text a:hover{
    color: $gray-700;
}
/*===============================*/
.featured{
    position: relative;
}
.featured-label{
    position: absolute;
    right:0;
    top:-20px;
    background: $primary;
    color:#fff;
    padding: 0 8px;
    font-size: 0.8rem;

}
.wrapper {
    margin: 2rem 0;
    padding: 100px 0;
}
.wrapper-post-list{
    padding-left:0.5rem;
    position: relative;
}
.wrapper-post-list-img{
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
}
.wrapper-post-list-img img{
    /*max-width: 100%;*/
    position: absolute;
    width: inherit;
    top:-9999px;
    bottom:-9999px;
    left:-9999px;
    right:-9999px;
    margin: auto;
    /*max-height: 200%;*/
}

.wrapper-post {
    margin-top: 2rem;
    margin-bottom: 4rem;
    background: #fff;
    @include border-radius;
    /*box-shadow: -10px 10px 2px -7px rgba(0,0,0,0.1);;*/
    /*@include box-shadow($box-shadow-sm);*/
    /*border: 1px solid $gray-100;*/
}
.post-img-container{
    background: $gray-100;
    /*min-height: 200px;*/
    position: relative;
} 
.post-type-icon{
    position: absolute;
    top: 100%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%,1rem);
    font-size: 2rem;
    border-radius: 50%;
    width:4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    margin-left:auto;
    margin-right: auto;
    margin-top: -3rem;
    background:$primary;
    color:#fff;
}
.post-type-icon:hover{
    color: #fff;
    background: $primary;
    box-shadow: $custom-shadow;
}

.post-list-type-icon{
    @extend .post-type-icon;
    position: absolute;  
    left:50%;
    top: 50%;
    z-index: 10;
}
.post-content {
    // text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    /*position: relative;*/
}
.post-content img{
    @include img-fluid();
    /*@include border-radius();*/
    /*margin-bottom: 1.5rem;*/
}
.post-meta {
    color: #cccccc;
    font-size: 0.8rem; // margin-top: 1rem;
    border-top:solid 1px $gray-100;
    padding: 1rem 0;
}

.post-meta span{
    display: inline-block;
    /*margin-right: 1rem;*/
    /*margin-bottom: 0.5rem;*/
}
.post-author{
    color: $gray-500;
}
.post-image{
    margin-bottom: 2rem;
}
.post-category,
.post-category a:visited,
.post-category a{
    font-size: 1rem;
    color: #939393;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.post-category a:hover{
    color:$primary;
}
.post-title {
    font-size: 2.5rem;
    /*letter-spacing: 0.2rem;*/
    /*margin-top: 1rem;*/
    /*margin-bottom: 1rem;*/
    position: relative; // &::before {
    //     content: "";
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background-color: #000; 
    //     position: absolute;
    //     bottom: -1.5rem;
    //     left:4.8rem;
    // }
    // &::after {
    //     content: "";
    //     width: 5rem;
    //     border-bottom: 1px solid #000000;
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     bottom: -1rem;
    // }
}
a:hover ,.post-title a:hover{
    text-decoration: none; 
}

.single-post-date{
    color:$gray-400;
    letter-spacing: 3px;
    margin-top: 1rem;
}
.wrapper-tags{
    color:$gray-400;
    a{
        color: $gray-400;
        margin-left: 5px;
    }
    a:hover{
        color: $primary;
    }
}
.smooth-hr{
    overflow: visible;
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
/*hr.style-eight { 
    overflow: visible;  For IE  
    padding: 0;
    border: none; 
    border-top: medium double $gray-400; 
    color: $gray-400; 
    text-align: center; } 
hr.smooth-hr:after { 
    content: "\e698"; 
    font-family:"themify";
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em; 
    background: white; }
*/
.styled-heading-1{
    background: $primary;
    color: #fff;
    /*border:1px solid $gray-100;*/
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 2rem;
    position: relative;
}
.styled-heading-3,
.styled-heading-2,
.styled-heading{
    /*text-shadow: 2px 5px 0 rgba(0,0,0,0.2);*/
    /*background: $primary;*/
    /*color: #fff;*/
    display: inline-block;
    padding: 5px 10px;
    /*box-shadow: $box-shadow-sm;*/
    margin-bottom: 1rem;
    position: relative;
}
.styled-heading-2{
    /*font-family: "Playfair Display";*/
    font-family:$font-1;
}
.styled-heading-3:after{
    /*content: "\e6e5";*/
    content: "\e622";
    color:$gray-800;
    font-family: "themify";
    display: block;
}
.border-custom{
    position: relative;
}
.border-custom:after,
.styled-heading-2:after{
    content: " ";
    display:block;
    margin-top: 0.5rem;
    width:100%;
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.styled-heading:after { 
    content: "";
    width:100%;
    height: 1px;
    display: block;
    overflow: visible;  //For IE  
    padding: 0;
    border: none; 
    border-top: medium double $gray-400; 
    color: $gray-400; 
    text-align: center; 
    margin-top: 15px;
} 
.styled-heading:before { 
    content: "\e698"; 
    font-family:"themify";
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 0.5em; 
    padding: 0 0.25em; 
    color:$gray-400;
    background: white;
    position: absolute;
    left:50%;
    top:76%;
    transform: translateX(-50%);
}


.link-styled {
    color: $gray-500;
    font-size: 0.8rem;
     padding:0 7px;
     margin-top: 10px;
    &:after{
        /*content: "\f178";*/
        font-family: fontawesome;
        margin-left: 0.2rem;
        line-height: 1rem;
        font-size: 0;
    }
}
.link-styled:hover{
    text-decoration: none;
}



.underline--magical {
    display: inline-block;
    padding: 0.5rem;
    // background-image: linear-gradient(120deg, #ff9800 0%, $primary 100%);
    background-image: linear-gradient(30deg, lighten($primary,30%) 0%, $primary 100%);
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: 0 85%;
    transition: background-size 0.25s ease-in;
    &:hover {
        background-size: 100% 100%;
    }
}
.underline--magical a{
    color: #000000;
    text-decoration:none;
}

.wrapper-quote,
.blockquote{
    position: relative;
    background: $gray-100;
    /*color: #fff;*/
    border-radius: 0px 30px 30px 30px; 
}
.blockquote{
    padding: 2rem;
}
.wrapper-quote::before{
    content: "\e800";
    font-family: 'fontello';
    /*    content: "\e67e";
        font-family: 'themify';*/
    color: $gray-400;
    opacity: 0.6;
    font-size: 6rem;
    position: absolute;
    right:2rem;
    bottom: 1rem;
}
.lead{
    color: #818181;
    color: $gray-600;
}
.lead{
    color: #818181;
    color: $gray-600;
}
.wrapper-widget{
    /*@include box-shadow($box-shadow-sm);*/
    /*box-shadow: 0px 15px 11px -6px rgba(0,0,0,0.32);*/
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);*/
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
    @include border-radius();
    border:1px solid $gray-100;
}
.wrapper-widget p,
.wrapper-widget{
    /*color: $gray-500;*/
    /*background: #fbfbfb;*/
}
.recent-post img{
    width: 5rem;
    height: 5rem;
    @include border-radius();
}
.recent-post{
    margin-bottom: 2rem;
}

/*.single-post-img{
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
}*/

.btn-right-oval{
    border-radius: 0 2rem 2rem  0;
}
.form-control-left-oval{
    border-radius: 2rem 0 0 2rem;
}

.form-inline .form-control.search-field{
    padding-right: 2rem;
    width:0;
    background: transparent;
    z-index: 10;
    transition: width 1s ease;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}
.form-inline .form-control.search-field:focus{
    width:auto;
}
/*.my-search-btn{
    margin-left: -2.8rem;
}*/
.form-inline-custom{
    position:relative;
}
.header .form-inline-custom{
    width:60%;
}
.form-inline-custom .form-control-left-oval{
    padding-right: 40px;
    padding-left: 10px;
    border-radius: 2rem;
}
.form-inline-custom .btn-right-oval{
    position: absolute;
    top:0;
    right:0; 
    
}
.form-control.search-field{
    background: #fff;
}
/*===============================================
Home
=================================================*/
/*.featured-cat{
    position: relative;
    margin-top: 5rem;
    &:hover{
        box-shadow: $custom-shadow;
        transition: box-shadow 0.15s ease-in;
        .featured-cat-content{
            background:rgba(#fff,1);
            height: 100%;
            transition: height 0.2s ease-in;
            p{
                visibility: visible;
                transform: translatey(10rem);
                transition:transform 0.17s ease-in;
            }
        }

    }
}
.featured-cat-content{
    position: absolute;
    width:100%;
    height: 0;
    @include border-radius();
    top:0;
    left:0;
    color:#000;
    background:linear-gradient(0deg, rgba(#fff,0.95) 30%,rgba(#fff,0.3));
}
.featured-cat-content p{
    padding: 1rem;
    font-size: 1.5rem;
    visibility:hidden;
    color: #000;
    transform: translatey(15rem);
}*/
.featured-cat{
    position: relative;
    margin-top: 5rem;
    border-radius: 1rem;
}
.featured-cat:hover{
    box-shadow: $custom-shadow;
    .featured-cat-content{
        background: rgba(#fff,1);
    }
}
.featured-cat-content{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: rgba(#fff,0.9);
}
.featured-cat-content-inner{
    text-align: center;
    border:1px solid $gray-200;
    color: $primary;
    padding:0.5rem;
    margin: 0.5rem;
}

/*=====================================
category page
=======================================*/
.archive-title{
    text-transform: uppercase;
}
/*=====================================
author page
=======================================*/
.author-card{
    border-radius: 1rem;
    padding: 3.5rem;
}
.author-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10rem;
    box-shadow: $custom-shadow;
}
/*=====================================
Page ( about us- contact )
=======================================*/
.page-header{
    border-radius: 1rem;
    padding: 13.5rem 3.5rem;
    background: $gray-100;
    background-size: cover;
    height: 30rem; 
}

.contact-bg{
    background-image: url(../images/slava-bowman-161206-unsplash.jpg);
    background-size: cover;
}
/*=====================================
footer
=======================================*/
#toTop{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    display: none;
    z-index:10000;
}

/*=====================================
Media quireies
=======================================*/
@media (max-width: 768px)  {
    .navbar-social-menu{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-social-menu li{
        display: inline-block;
    }
    .form-inline .form-control{
        width:70%;
    }
    .wrapper-post-list-img{
        position: relative;
        height: 370px;
        overflow: hidden;
        border-radius: 1rem 1rem 0 0;
    }
    .wrapper-post-list-img img{
        position: relative;
        width:100%;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        border-radius: 1rem 1rem 0 0;
    }
    .wrapper-post-list{
        padding-left: 0;
    }
    .post-type-icon{
        top:auto;
        bottom: 50%;
    }
.nav-next img,
.nav-previous img{
    display: none;
}
post-meta span{
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
}
}

