/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Aug 7, 2018, 3:48:23 PM
    Author     : raghda
*/

 

/*$font-family-base :"PT Serif","Playfair Display";*/
// $font-family-base :"IBM Plex Sans","Montserrat",Raleway,Roboto,"Helvetica Neue";;
 /*$font-family-base :"Playfair Display",Raleway,Roboto,"Helvetica Neue";*/
/*$font-family-base:   Roboto, "Helvetica Neue";*/
/*$font-family-base:   Oswald;*/
/*$font-family-base:   Lato;*/
/*$font-family-base:   PT Serif, "Helvetica Neue";*/
/*$font-family-base:   Montserrat, "Helvetica Neue";*/
/*$font-family-base:   Work Sans, "Helvetica Neue";*/
/*$font-family-base:   "Helvetica Neue";*/
// Abril+Fatface|Cormorant+Garamond|Merriweather|Oswald|PT+Serif
@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Trocchi|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik:500');

@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Scope+One');


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');

$font-logo:"Mrs Saint Delafield"; //7elw  
/*$font-logo:"Sacramento";  //7elw*/
 





/*$font-1:Rubik;  //modern ,sans serif,statement*/
/*/$font-1:"Varela Round"; //modern new sans serif*/
$font-1:"Josefin Slab"; //modern new sans serif
$font-1:"Raleway"; //modern new sans serif
/*$font-1:"Cormorant Garamond";*/ 

/*$font-1:Lora;*/  
/*$font-1:Scope One;*/  
/*$font-1:Trocchi;  //7elw*/
/*$font-1:"Playfair Display";  //my favorit serif font for titles*/
/*$font-1:"Abril Fatface"; //favorit to7fa*/

 /*$font-1:"IBM Plex Sans", serif;  //if single font  7elw modern*/ 

 /*$font-1:"Roboto", serif;   //7elw*/ 


 
 // $border-color:               transparent !default; 

// $border-radius:               0 !default;
// $border-radius-lg:            0 !default;
// $border-radius-sm:            0 !default;



$box-shadow-sm:               0 .125rem .27rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($gray-100, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
/*$box-shadow-lg:               0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06) !default;*/

$custom-shadow:0px 15px 11px -6px rgba(0,0,0,0.32);
$custom-shadow-2:0 .125rem .80rem rgba($black, .075);