@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9559384');
  src: url('../font/fontello.eot?9559384#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9559384') format('woff2'),
       url('../font/fontello.woff?9559384') format('woff'),
       url('../font/fontello.ttf?9559384') format('truetype'),
       url('../font/fontello.svg?9559384#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9559384#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-quote:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-feather:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-star-empty:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-down-open-big:before { content: '\e80d'; } /* '' */
.icon-up-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open-big:before { content: '\e80f'; } /* '' */
.icon-right-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-mini:before { content: '\e811'; } /* '' */
.icon-right-open-mini:before { content: '\e812'; } /* '' */
.icon-left-open-mini:before { content: '\e813'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-left-open:before { content: '\e815'; } /* '' */
.icon-up-open:before { content: '\e816'; } /* '' */
.icon-down-open-mini:before { content: '\e817'; } /* '' */
.icon-bookmark:before { content: '\e818'; } /* '' */
.icon-bookmarks:before { content: '\e819'; } /* '' */
.icon-thumbs-up:before { content: '\e81a'; } /* '' */
.icon-thumbs-down:before { content: '\e81b'; } /* '' */
.icon-suitcase:before { content: '\e81c'; } /* '' */
.icon-clock:before { content: '\e81d'; } /* '' */
.icon-hourglass:before { content: '\e81e'; } /* '' */
.icon-location:before { content: '\e81f'; } /* '' */
.icon-map:before { content: '\e820'; } /* '' */
.icon-direction:before { content: '\e821'; } /* '' */
.icon-left-thin:before { content: '\e822'; } /* '' */
.icon-right-thin:before { content: '\e823'; } /* '' */
.icon-up-thin:before { content: '\e824'; } /* '' */
.icon-down-thin:before { content: '\e825'; } /* '' */
.icon-down:before { content: '\e826'; } /* '' */
.icon-left:before { content: '\e827'; } /* '' */
.icon-right:before { content: '\e828'; } /* '' */
.icon-up:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-cog:before { content: '\e82b'; } /* '' */
.icon-chat:before { content: '\e82c'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-lock:before { content: '\e82e'; } /* '' */
.icon-lock-open:before { content: '\e82f'; } /* '' */
.icon-eye:before { content: '\e830'; } /* '' */
.icon-attach:before { content: '\e831'; } /* '' */
.icon-link:before { content: '\e832'; } /* '' */
.icon-help:before { content: '\e833'; } /* '' */
.icon-info:before { content: '\e834'; } /* '' */
.icon-help-circled:before { content: '\e835'; } /* '' */
.icon-info-circled:before { content: '\e836'; } /* '' */
.icon-plus-squared:before { content: '\e837'; } /* '' */
.icon-plus-circled:before { content: '\e838'; } /* '' */
.icon-plus:before { content: '\e839'; } /* '' */
.icon-cancel-squared:before { content: '\e83a'; } /* '' */
.icon-cancel-circled:before { content: '\e83b'; } /* '' */
.icon-minus:before { content: '\e83c'; } /* '' */
.icon-minus-circled:before { content: '\e83d'; } /* '' */
.icon-minus-squared:before { content: '\e83e'; } /* '' */
.icon-heart-empty:before { content: '\e83f'; } /* '' */
.icon-search:before { content: '\e840'; } /* '' */
.icon-note:before { content: '\e841'; } /* '' */
.icon-note-beamed:before { content: '\e842'; } /* '' */
.icon-music:before { content: '\e843'; } /* '' */
.icon-up-circled:before { content: '\e844'; } /* '' */
.icon-left-circled:before { content: '\e845'; } /* '' */
.icon-right-circled:before { content: '\e846'; } /* '' */
.icon-down-circled:before { content: '\e847'; } /* '' */
.icon-dot-3:before { content: '\e848'; } /* '' */
.icon-dot-2:before { content: '\e849'; } /* '' */
.icon-dot:before { content: '\e84a'; } /* '' */
.icon-moon:before { content: '\e84b'; } /* '' */
.icon-flash:before { content: '\e84c'; } /* '' */
.icon-chart-bar:before { content: '\e84d'; } /* '' */
.icon-chart-pie:before { content: '\e84e'; } /* '' */
.icon-chart-area:before { content: '\e84f'; } /* '' */
.icon-youtube:before { content: '\e850'; } /* '' */
.icon-light-down:before { content: '\e851'; } /* '' */
.icon-play:before { content: '\e852'; } /* '' */
.icon-mic:before { content: '\e853'; } /* '' */
.icon-headphones:before { content: '\e854'; } /* '' */
.icon-headphones-1:before { content: '\e855'; } /* '' */
.icon-mic-1:before { content: '\e856'; } /* '' */
.icon-mic-outline:before { content: '\e857'; } /* '' */
.icon-mic-2:before { content: '\e858'; } /* '' */
.icon-play-circled2:before { content: '\e859'; } /* '' */
.icon-stop-circled:before { content: '\e85a'; } /* '' */
.icon-pause-circled:before { content: '\e85b'; } /* '' */
.icon-pause:before { content: '\e85c'; } /* '' */
.icon-stop:before { content: '\e85d'; } /* '' */
.icon-pause-1:before { content: '\e85e'; } /* '' */
.icon-stop-1:before { content: '\e85f'; } /* '' */
.icon-play-1:before { content: '\e860'; } /* '' */
.icon-play-circled:before { content: '\e861'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */