/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Aug 7, 2018, 3:48:23 PM
    Author     : raghda
*/

/*$primary:       #ffc107 !default;*/

/*$primary:       #673ab7 !default;*/

/*$primary:       #f5ba4b !default;*/

/*$primary:       #ff4081 !default;*/

/*$primary:       #e6cf8b !default;*/

/*$primary : #EACEC3 !default;*/

/*$font-family-base :"PT Serif","Playfair Display";*/

/*$font-family-base :"Playfair Display",Raleway,Roboto,"Helvetica Neue";*/

/*$font-family-base:   Roboto, "Helvetica Neue";*/

/*$font-family-base:   PT Serif, "Helvetica Neue";*/

/*$font-family-base:   Work Sans, "Helvetica Neue";*/

/*$font-family-base:   "Helvetica Neue";*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Trocchi|Work+Sans");

@import url("https://fonts.googleapis.com/css?family=Rubik:500|PT+Serif");

@import url(../../dev/fonts/fontello/css/fontello.css);

@import url(../../dev/fonts/themify-icons/themify-icons.css);

/*$font-1:"Abril Fatface","Rubik",'Playfair Display','Rubik', serif;*/

/*$font-1:Unna;*/

/*$font-1:Quicksand;*/

/*$font-1:PT Serif;*/

/*$font-1:Rubik;*/