/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Nov 17, 2018, 3:12:50 PM
    Author     : raghda
    Desc       : styles of guetnburg editor in admin panel
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Aug 7, 2018, 3:48:23 PM
    Author     : raghda
*/

/*$primary:       #ffc107 !default;*/

/*$primary:       #673ab7 !default;*/

/*$primary:       #f5ba4b !default;*/

/*$primary:       #ff4081 !default;*/

/*$primary:       #536dfe !default;*/

/*$primary:       #e6cf8b !default;*/

/*$primary : #EACEC3 !default;*/

/*$font-family-base :"PT Serif","Playfair Display";*/

/*$font-family-base :"Playfair Display",Raleway,Roboto,"Helvetica Neue";*/

/*$font-family-base:   Roboto, "Helvetica Neue";*/

/*$font-family-base:   PT Serif, "Helvetica Neue";*/

/*$font-family-base:   Work Sans, "Helvetica Neue";*/

/*$font-family-base:   "Helvetica Neue";*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Trocchi|Work+Sans");

@import url("https://fonts.googleapis.com/css?family=Rubik:500|PT+Serif");

/*@import "../../dev/fonts/fontello/css/fontello.css";
@import "../../dev/fonts/themify-icons/themify-icons.css";*/

/*$font-1:"Abril Fatface","Rubik",'Playfair Display','Rubik', serif;*/

/*$font-1:Unna;*/

/*$font-1:Quicksand;*/

/*$font-1:PT Serif;*/

/*$font-1:Rubik;*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Aug 7, 2018, 3:48:23 PM
    Author     : raghda
*/

/*$font-family-base :"PT Serif","Playfair Display";*/

/*$font-family-base :"Playfair Display",Raleway,Roboto,"Helvetica Neue";*/

/*$font-family-base:   Roboto, "Helvetica Neue";*/

/*$font-family-base:   Oswald;*/

/*$font-family-base:   Lato;*/

/*$font-family-base:   PT Serif, "Helvetica Neue";*/

/*$font-family-base:   Montserrat, "Helvetica Neue";*/

/*$font-family-base:   Work Sans, "Helvetica Neue";*/

/*$font-family-base:   "Helvetica Neue";*/

@import url("https://fonts.googleapis.com/css?family=Montserrat|Lato");

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Trocchi|Work+Sans");

@import url("https://fonts.googleapis.com/css?family=Rubik:500");

@import url("https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Sacramento");

@import url("https://fonts.googleapis.com/css?family=Varela+Round");

@import url("https://fonts.googleapis.com/css?family=Scope+One");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i,700,700i&subset=latin-ext");

/*$font-logo:"Sacramento";  //7elw*/

/*$font-1:Rubik;  //modern ,sans serif,statement*/

/*/$font-1:"Varela Round"; //modern new sans serif*/

/*$font-1:"Cormorant Garamond";*/

/*$font-1:Lora;*/

/*$font-1:Scope One;*/

/*$font-1:Trocchi;  //7elw*/

/*$font-1:"Playfair Display";  //my favorit serif font for titles*/

/*$font-1:"Abril Fatface"; //favorit to7fa*/

/*$font-1:"IBM Plex Sans", serif;  //if single font  7elw modern*/

/*$font-1:"Roboto", serif;   //7elw*/

/*$box-shadow-lg:               0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06) !default;*/

/*@import "node_modules/bootstrap/scss/bootstrap";*/

.entry-content .alignfull {
  margin-left: -webkit-calc( -100vw / 2 + 100% / 2);
  margin-left: calc( -100vw / 2 + 100% / 2);
  margin-right: -webkit-calc( -100vw / 2 + 100% / 2);
  margin-right: calc( -100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.entry-content .alignwide {
  width: 100%;
  max-width: 100%;
}

/*@media (max-width: 1200px) {
    .entry-content .alignwide {
        margin-left  : -15px;
        margin-right : -15px;
        max-width    : calc(100% + 30px);
    }
}*/

.wp-block-cover.alignfull,
.wp-block-cover-image.alignfull {
  width: auto;
}

.wp-block-cover,
.wp-block-cover-image {
  min-height: 250px;
}

.wp-block-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.wp-block-column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  /*    position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;*/
}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
  font-size: initial;
}

/*========================================
image
=========================================*/

.is-style-shadow img {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.is-style-shadow-sm img {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.is-style-shadow-lg img {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.is-style-shadow-custom img {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

.is-style-rounded img {
  border-radius: 0.25rem;
}

.is-style-rounded-shadow img {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-sm img {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-lg img {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-custom img {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  border-radius: 0.25rem;
}

/*========================================
cover
=========================================*/

.wp-block-cover.is-style-shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.wp-block-cover.is-style-shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.wp-block-cover.is-style-shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.wp-block-cover.is-style-shadow-custom {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

.wp-block-cover.is-style-shadow-hover {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.wp-block-cover.is-style-shadow-hover:hover {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

.wp-block-cover.is-style-rounded {
  border-radius: 0.25rem;
}

.wp-block-cover.is-style-rounded-shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.wp-block-cover.is-style-rounded-shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}

.wp-block-cover.is-style-rounded-shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}

.wp-block-cover.is-style-rounded-shadow-custom {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  border-radius: 0.25rem;
}

.wp-block-cover.is-style-rounded-shadow-hover {
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.wp-block-cover.is-style-rounded-shadow-hover:hover {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

/*========================================
video
=========================================*/

.is-style-shadow video {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.is-style-shadow-sm video {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.is-style-shadow-lg video {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.is-style-shadow-custom video {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

.is-style-rounded video {
  border-radius: 0.25rem;
}

.is-style-rounded-shadow video {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-sm video {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-lg video {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}

.is-style-rounded-shadow-custom video {
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  border-radius: 0.25rem;
}

/*==========================================
gallery
============================================*/

.is-style-default-rounded-img .blocks-gallery-item,
.is-style-lightbox-rounded-img .blocks-gallery-item {
  border-radius: 0.25rem;
  overflow: hidden;
}

.is-style-lightbox-rounded-shadow-img .blocks-gallery-item,
.is-style-default-rounded-shadow-img .blocks-gallery-item {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

.is-style-lightbox-shadow-img .blocks-gallery-item,
.is-style-default-shadow-img .blocks-gallery-item {
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 15px 11px -6px rgba(0, 0, 0, 0.32);
}

/*==========================================
Button
============================================*/

.wp-block-button.is-style-outline a:active,
.wp-block-button.is-style-outline a:focus,
.wp-block-button.is-style-outline a:hover {
  border-style: dotted;
  /*box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);*/
  /*animation: pulse 0.7s;*/
  /*box-shadow: 0 0 0 0.5m rgba(255, 255, 255, 0);*/
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(161, 161, 161, 0.61);
    box-shadow: 0 0 0 0 rgba(161, 161, 161, 0.61);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(161, 161, 161, 0.61);
    box-shadow: 0 0 0 0 rgba(161, 161, 161, 0.61);
  }
}

.wp-block-button.is-style-default a:active,
.wp-block-button.is-style-default a:focus,
.wp-block-button.is-style-default a:hover,
.wp-block-button.is-style-squared a:active,
.wp-block-button.is-style-squared a:focus,
.wp-block-button.is-style-squared a:hover {
  /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
  -webkit-box-shadow: 0px 15px 10px -10px rgba(161, 161, 161, 0.61);
  box-shadow: 0px 15px 10px -10px rgba(161, 161, 161, 0.61);
}

/*==========================================
table
============================================*/

.wp-block-table.is-style-vertical-stripes {
  border: 2px solid #FFFFFF;
}

.wp-block-table.is-style-vertical-stripes td,
.wp-block-table.is-style-vertical-stripes th {
  border: 1px solid #FFFFFF;
  padding: 0 5px;
}

.wp-block-table.is-style-vertical-stripes td:nth-child(even) {
  background: #f8f9fa;
}

.wp-block-table.is-style-vertical-stripes tr:nth-child(even) {
  /*background: $gray-100;*/
}

.wp-block-table.is-style-vertical-stripes thead {
  background: #f8f9fa;
  border-bottom: 1px solid #adb5bd;
}

.wp-block-table.is-style-vertical-stripes thead th {
  font-weight: bold;
  color: #495057;
  text-align: center;
}

.wp-block-table.is-style-vertical-stripes tfoot {
  font-weight: bold;
  color: #495057;
  border-top: 2px solid #adb5bd;
}

.wp-block-table.is-style-vertical-stripes tfoot td {
  font-size: 14px;
}

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  padding: 0 5px;
}

.wp-block-table.is-style-regular td,
.wp-block-table.is-style-regular th {
  border: 1px solid #343a40;
  padding: 0 5px;
}

wp-block-table.is-style-stripes {
  border-bottom: 1px solid #f8f9fa;
  border-collapse: inherit;
  border-spacing: 0;
}

@media (min-width: 600px) {
  .wp-block-column:not(:last-child),
  .wp-block-column:not(:first-child),
  .wp-block-column:nth-child(even),
  .wp-block-column:nth-child(odd) {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
  }
}