/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2018, 3:16:00 PM
    Author     : raghda
*/
//bootstrap carousel
.carousel-item{
    /*position:relative;*/
}
.carousel-item-1{
    position: absolute;
    top:1rem;
    right:1rem;
    background: #fff;
    padding: 2rem;
    min-width: 10rem;
    max-width: 800px;
}
.carousel-caption{
    background: rgba(#fff,0.95);
    padding: 2rem;
    bottom: 50%;
    transform: translateY(50%);
    color: #000;
    /*@include border-radius();*/
}
.carousel-control-next:hover,
.carousel-control-prev:hover{
    color: $primary;
    span{
        background: rgba(#fff,0.95);
        padding: 1rem;
    }
}

.carousel-caption-inner{
    border: 1px solid $gray-200;
    /*@include border-radius();*/
    padding: 3rem;
}
.carousel-inner{
    @include border-radius();
     box-shadow: $custom-shadow; 
     /*box-shadow:  0px 5px 10px -3px rgba(0,0,0,0.75);;*/ 
}
.wrapper-widget .carousel-inner{
    box-shadow:none;
}